extends layouts/main.pug

block content
    <div id="mainContainer">
        <main>
            <h1 id="h1BankAccountForm">Welcome to your Bank</h1>
            <img src="/assets/images/bank.jpg" alt="Bank">
        </main>
    </div>
    